body{
	background-color: #000000;
	margin: 0px auto;
	padding-top:10px;
}

#intro{
	text-align:center;
	vertical-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	color: white;
	font-size: 120px;
}

#intro a:link, #intro a:visited, #intro a:hover {
	color: white;
	text-decoration: none;
}

#myCanvas{
	padding: 0px;
	margin: 0px;
	width: 800px;
	height: 600px;
}

.lvl01 {
	background: url('img/sprites/lvl01background.png');
}

.lvl02 {
	background: url('img/sprites/lvl02background.png');
}

a.img {
	border:none;
}