body{
	background-color: #000000;
	margin: 0px auto;
	padding-top:10px;
}

#intro{
	text-align:center;
	vertical-align: center;
	color: #269ed6;
	font-size: 48px;
	padding:20px;
}

#intro a:link, #intro a:visited, #intro a:hover {
	color: #8bcfef;
	text-decoration: none;
}

#start{
	text-align:center;
	vertical-align: center;
	color: #269ed6;
	font-size: 60px;
	padding-top:50px;
}

#start a:link, #start a:visited, #start a:hover {
	color: #8bcfef;
	text-decoration: none;
}

#start a:hover {
	color: #6add37;
}

#myCanvas{
	padding: 0px;
	margin: 0px;
	width: 800px;
	height: 600px;
}

.lvl01 {
	background: url('img/sprites/lvl01background.png');
}

.lvl02 {
	background: url('img/sprites/lvl02background.png');
}

a.img {
	border:none;
}